#useDynLib(pchc, .registration = TRUE)

importFrom("bnlearn", hc, score, rbn, graphviz.plot)

importFrom("Rfast", cora, pc.skel, gchi2Test, g2Test, g2Test_perm, chi2Test)

importFrom("stats", qf, pt, pchisq, cor, qt)

exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")


